<div style="margin-top: 10px; margin-bottom: 20px" class="ui stackable grid container">

  <div class="sixteen wide column no-bottom">
    <h2 class="ui center aligned header no-bottom">{{ site.data.bio.basics.name }}</h2>
    <p style="text-align: center">I'm Thảo (IPA: /tʰaːw˧˩/). ——(๑•д　•)Huh－？—— I know it's HARD to pronounce ---┐(￣ヘ￣)┌---  So never mind, call me <a href="why?">Shibe ▽・ᴥ・▽</a></p>
  </div>

  <div class="eight wide left aligned column">
    {% include bio-network-links.html %}
  </div>

  <div class="eight wide right aligned column">
    {% include bio-address.html %}
  </div>

  {% include bio-interests-1.html %}
  {% include bio-skills-1.html %}
  {% include bio-education-2.html %}
  {% include bio-work-2.html %}
  {% include bio-publications-2.html %}
  {% include bio-volunteer-2.html %}
  {% include bio-awards-2.html %}

  <div class="sixteen wide column no-bottom">
    <hr>
    <p style="text-align: center">Fact: My most favourites movie is <a href="https://en.wikipedia.org/wiki/Gone_Girl_(film)">Gone Girl</a></p>
  </div>

</div>


