---
layout: default
---

{% include menubar.html active="" %}

<div style="padding-top: 20px" class="ui container ">
  <p>❌ I'm sorry, the URL must be wrong, I'll fix it soon 👷. Perhaps you could take a look at these  instead ⬇️:</p>

  <h3>Study Notes 📝</h3>
  <ul>
    {% assign essay_pages = site.pages | where: "type", "essay" | sort: "date" | reverse %}
    {% for page in essay_pages %}
      <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>

  <h3>Projects 👩‍💻</h3>
  <ul>
    {% assign project_pages = site.pages | where: "type", "project" | sort: "title" %}
    {% for page in project_pages %}
    <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>

</div>

